.cell-empty {
  background-color: #f7dbdb;
}

.close-btn {
  display: none;
  height: 20px !important;
  width: 20px !important;
  min-width: 20px !important;
}

.cell-edit {
  background-color: #dbf7db;
}

.cell-edit:hover .close-btn {
  display: inline-block;
}

.cell-normal:hover .close-btn {
  display: inline-block;
}

.ant-table-cell-ellipsis span {
  min-width: 100%;
  display: block;
}

.red {
  color: red;
}

.greenyellow {
  color: greenyellow;
}
